.residente-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://th.bing.com/th/id/OIP.aGvzr-xiM12MDDGfM_GwuwAAAA?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: center;
}

.residente-view-box {
    background-color: #060001;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%; /* Aumenta el ancho para la tabla */
    max-width: 800px; /* Ancho máximo para evitar que se vea demasiado grande */
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #ccc;
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    color: #ccc;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    color: #ccc;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #222;
}

.logout-button {
    background-color: #519aed;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
}